%center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    margin:0;

    h1{
        margin: 0;
    }
    #app{
        margin:0;
        background: grey;
        #cart {
            background: rgba($color: #0000, $alpha: 0.8);
            position: fixed;
            height: 100vh;
            width: 100vw;
            display: flex;
            
            .items {
                width: 90vw;
                height: 90vh;
                background: white;
                padding: 1rem;
                box-sizing: border-box;
                margin: auto;
                overflow: scroll;

                article{
                    background: grey;
                    width: 70vw;
                    box-sizing: border-box;
                    margin: auto;
                    
                    img{
                        height: 50px;
                    }
                }
            }
        }
        #nav{
            background: rgb(85, 85, 209);
            
            .cart{
                z-index: 3000;
                img{
                    height: 20px; 
                }
            }
         
        }
        #main{
            background: rgb(91, 91, 180);
            
            .home{
                .new_arrivals{
                    height: 30vh;
                    background: rgb(157, 78, 180);
                    padding: 10px;
                    overflow: hidden;
                    img{
                        width: 95vw;
                        
                    }
                }
                .lookbooks{
                    height: 50vh;
                    background: rgb(134, 67, 155);
                    @extend%center;
                    padding: 0 5px 0 5px;

                    div{
                        @extend%center;
                        background: pink;
                        margin: 5px;
                        width: 50%;
                        height: 90%;
                        img{
                            height: inherit;
                        }
                    }
                }
                .categories{
                    height: 90vh;
                    background: rgb(112, 55, 129);
                    @extend%center;
                    flex-wrap: wrap;

                    div{
                        @extend%center;
                        background: pink;
                        margin: 5px;
                        width: 45%;
                        height: 30%;
                    }
                }
            }

            #product-view{
                .overlay{
                    position: fixed;
                    background: rgba(0, 0, 0, 0.425);
                    height: 100vh;
                    width: 100vw;
                    z-index: 1;
                }

                .view{
                    position: fixed;
                    background: rgb(255, 255, 255);
                    z-index: 2;
                    height: 70vh;
                    width: 80vw;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
                .products{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                img{
                    height: 200px;
                    width: 100%;
                }

                .product{
                    display: flex;
                    flex-direction: column;
                    height: 150px;
                    width: calc(100% / 3);
                    background: rgb(212, 117, 117);
                    padding: 5px;
                    box-sizing: border-box;

                    div{
                        height: auto;
                        img{
                            height: 50px;
                            width: 50px;
                        }
                    }
                } 
            }   
        }
            .about{
                .about_text{
                    padding: 10px;
                    
                    img{
                        height: 20vh;
                        @extend%center;
                        align-self: center;
                    }
                }
            }
        }
        footer{
            background: rgb(67, 67, 165);
            height: 100px;
        }
    } 
}
