%center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    margin:0;
    h1{
        margin: 0;
    }
   #app{
        margin:0;
        background: grey;
        #nav{
            background: rgb(85, 85, 209);
            
            .cart{
                img{
                    height: 20px; 
                }
            }
         
        }
        #main{
            background: rgb(91, 91, 180);
            .home{
                .new_arrivals{
                    height: 30vh;
                    background: rgb(157, 78, 180);
                    padding: 10px;
                    overflow: hidden;
                    img{
                        width: 95vw;
                        
                    }
                }
                .lookbooks{
                    height: 50vh;
                    background: rgb(134, 67, 155);
                    @extend%center;
                    padding: 0 5px 0 5px;

                    div{
                        @extend%center;
                        background: pink;
                        margin: 5px;
                        width: 50%;
                        height: 90%;
                        img{
                            height: inherit;
                        }
                    }
                }
                .categories{
                    height: 90vh;
                    background: rgb(112, 55, 129);
                    @extend%center;
                    flex-wrap: wrap;

                    div{
                        @extend%center;
                        background: pink;
                        margin: 5px;
                        width: 45%;
                        height: 30%;
                    }
                }
            }
            .products{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                img{
                    height: 200px;
                    width: 100%;
                }

                .product{
                    display: flex;
                    flex-direction: column;
                    height: 100px;
                    width: calc(100% / 3);
                    background: red;
                    padding: 5px;
                    box-sizing: border-box;

                    div{
                        background: blue;
                    }

                }

            }
        }
        footer{
            background: rgb(67, 67, 165);
            height: 100px;
        }
    } 
}
